<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <!-- call external css  -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <!-- tag a such as method get api in BE -->
        <a href="/">Home</a>
        <a href="/create">Create</a>
        <!-- <a class="active" href="/edit">Edit</a> -->
    </div>


    <div class="form-addNew">
        <!-- method="post" -->
        <!-- <%= JSON.stringify(userEdit) %> -->
        <form action="/edit-user" method="post">
            <fieldset>
                <legend>Form add new users:</legend>
                <div class="input-group d-none">
                    <label for="username">ID:</label>
                    <input type="text" name="id" id="id" placeholder="Enter your Email" value="<%=userEdit._id %>">
                </div>
                <div class="input-group">
                    <label for="username">Email:</label>
                    <input type="text" name="email" id="email" placeholder="Enter your Email"
                        value="<%=userEdit.email %>">
                </div>
                <div class="input-group">
                    <label for="Name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your Name" value="<%= userEdit.name %>">
                </div>
                <div class="input-group">
                    <label for="Name">City:</label>
                    <input type="text" name="city" id="city" placeholder="Enter your City" value="<%= userEdit.city %>">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn">Save</button>

                </div>
                <br>
            </fieldset>
        </form>

    </div>

</body>

</html>