<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- call external css  -->
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="topnav">
        <!-- tag a such as method get api in BE -->
        <a class="active" href="/">Home</a>
        <a href="/create">Create</a>
        <!-- <a href="/edit">Edit</a> -->
    </div>

    <div class="w3-container">
        <!-- <%= JSON.stringify(listUsers) %> -->
        <table class="w3-table">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <!-- method 1: for .length -->
            <!-- <% for (let i=0; i < listUsers.length; i++) { %>
                <tr>

                    <td>
                        <%= listUsers[i].ID %>
                    </td>
                    <td>
                        <%= listUsers[i].EMAIL %>
                    </td>
                    <td>
                        <%= listUsers[i].NAME %>
                    </td>
                    <td>
                        <%= listUsers[i].CITY %>
                    </td>
                    <td>
                        <button>edit</button>
                        <button>delete</button>
                    </td>
                </tr>
                <%} %> -->

            <!-- method 2: forEach -->
            <% listUsers.forEach(function(user,index) { %>
                <tr>

                    <td>
                        <%= user.ID %>
                            <!-- - <%=index%> -->
                    </td>
                    <td>
                        <%= user.EMAIL %>
                    </td>
                    <td>
                        <%= user.NAME %>
                    </td>
                    <td>
                        <%= user.CITY %>
                    </td>
                    <td>
                        <a href="/edit/<%= user.ID %>">edit</a>
                        <button>delete</button>
                    </td>
                </tr>
                <% }); %>

        </table>
    </div>


    </div>

</body>

</html>